<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,
  initial-scale=1.0">
  <link rel="stylesheet"  href="../static/stylesheets/style.css" type="text/css">
  <title>RecipeBook</title>
</head>
<body>
  <div class="principal">
    <div class="wrap">
      <form class="formulario" action="">
        <label for="recipename">Recipe Name</label>
        <input type="text" id="tareaInput" placeholder="Write here the name of recipe you would like to add">
        <label for="recipe">Recipe Procedure</label>

        <input type="text" id="tareaInput1" placeholder="Write here the full recipe">

        <input type="button" class="boton" id="btn-agregar" value="Add a New Recipe">
        
      </form>
    </div>
  </div>

  <div class="tareas">
    <div class="wrap">
      <ul class="lista" id="lista">

      </ul>
    </div>

  <script src="static/scripts/recipes.js"></script>
</body>
</html>
